langchain
langchain-community
langchain-openai
langchain-groq
streamlit
streamlit-chat
pandas
matplotlib
seaborn
langchain-experimental
tabulate
tiktoken
jupyterlab
pygwalker
langchain-google-genai
python-dotenv

